<% @posts.each do |post| %>
  <div class = "content">
    <div class="content__left">
      <div class="content__left__image"></div>
    </div>
    <div class = "content__quiz">
      <%= post.title %>
    </div>
  </div>
<% end %>